<div class="inner cover">
  <h1>Chess Revisited</h1>
  <p class="lead">A chess game<br>running on MEAN stack<br>using a restful API on NodeJS, Express and MongoDB<br>connected to a client with
    Angular and Bootstrap</p>
  <p class="lead">
    <a href="#/users" class="btn btn-lg btn-warning">Try it out!</a>
  </p>
</div>




<div class="mastfoot">
  <div class="inner">
    <p>A project by <a href="https://twitter.com/DESchermer">Daniël Schermer</a>, learning javascript code to <a href="https://www.linkedin.com/in/danielschermer?trk=hp-identity-name">find a job @coding!</a></p>
  </div>
</div>

